/* Wrapper styling */
.blog-wrapper{
    display: block;
    max-width: 600px;
    margin: 0 auto;
}

/* Img styling */
.title-img-ins{
    display: block;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Text styling */
.writing-text{
    font-family: "Georgia";
    font-size: 16px;
    line-height: 35px;
}

.basic-container-cnt-txt p, .detail-text-itl, .title-text-center, .detail-text-itl{
    padding-bottom: 15px;
    line-height: normal;
}

.link{
    color: rgb(0, 119, 255);
}

.blog-wrapper .section-heading{
    font-size: 20px;
}

/* btn styling adjustments. Commented out for now because there is no need for it. */
/* .blog-btn{
    display: inline-block;
    font-family: "Lato";
    color: black;
    border: black 1px solid;
    font-family: "Lato";
    padding: 15px 20px;
    margin: 0 auto;
} */

.blog-btn:hover{
    background-color: rgb(185, 185, 185);
    color: white;
}

#resources a{
    font-family: "Georgia";
    font-size: 18px;
    color: rgb(0, 119, 255);
}

/* iframes styling for embedded video clips */
iframe{
    display: block;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
}